<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Activity</title>
</head>

<body>
  <h1>Update Activity</h1>
  <form action="/habits/<%=habit%>/activities/<%=activity._id%>?_method=PUT" method='POST'>
    <p>Name: <input type="text" name='name' placeholder="<%=activity.name%>" required></p>
    <p>Duration: <input type='number' name='duration' placeholder="<%=activity.duration%>" required></p>
    <p>Notes: <input type='text' name='notes' placeholder="<%=activity.notes%>"></p>
    <input type="submit" value="Add Habit">
  </form>
</body>

</html>