<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/pages.css">
  <title>Update Activity</title>
</head>

<body>

  <header class="main-header">
    <a href="/" class="logo">
      <img src="/img/logo.png" alt="logo">
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h1>Update Activity</h1>
    <form action="/habits/<%=habit%>/activities/<%=activity._id%>?_method=PUT" method='POST'>
      <p>
        <input class="input" type="text" name="name" value="<%=activity.name%>" autocomplete="off" required>
        <label for="name" class="labe-name">
          <br>
          <span class="content-name">Location</span>
        </label>
      </p>
      <p>
        <input class="input" type="number" name="duration" value="<%=activity.duration%>" autocomplete="off" required>
        <label for="name" class="labe-name">
          <br>
          <span class="content-name">Duration</span>
        </label>
      </p>
      <p>
        <input class="input" type="text" name="notes" value="<%=activity.notes%>" autocomplete="off">
        <label for="name" class="labe-name">
          <br>
          <span class="content-name"> Notes</span>
        </label>
      </p>
      <input class="btn" type="submit" value="Update">
    </form>
  </div>
</body>

</html>