<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/styles/pages.css"> -->
  <title>Habit Show</title>
</head>

<body>
  <h1>Here is one of my habits!</h1>
  <p>I am working on <%=habit.name%></p>
  <p>I am doing it <%=habit.frequency%> times per week</p>
  <h3>Here are my entries</h3>
  <a href="/habits/<%=habit._id%>/activities/new">Log an activity</a>
  <% if (!habit.log.length) { %>
  <p>No recorded activities yet, get out there!</p>
  <% } %>
  <% habit.log.forEach(activity => { %>
  <h4><a href="/habits/<%=habit._id%>/activities/<%=activity._id%>"><%=activity.name%></a></h4>
  <% }) %>
  <form action="/habits/<%=habit._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Habit">
  </form>

</body>

</html>